body{
    background-color:black;
}
p{
text-align: center;
color:white;
}
span{
	color:white;
}
thead{
	color:blue;
}
tbody{
	color:gold;
}
#lookup{
	color:blue;
	border: 3px solid white;
	background-color: gold;
    padding:7px;
	margin: 10px
}